*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-size: 1.6rem;
    color: #282828;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

button {
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: #f5f5f5;
}

button:hover {
    background-color: #282828;
    color: white;
    transition: 0.5s ease-in-out;
}

table {
    width: 100%;
}

th {
    background-color: #282828;
    color: #f5f5f5;
    font-weight: 400;
    text-align: left;
}

td {
    border-bottom: 0.1rem solid #f5f5f5;
}

th,
td {
    padding: 0.3rem;
}

.page-header {
    display: flex;
    align-items: center;
    max-height: 100rem;
    background-color: #282828;
}

.page-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.page-footer {
    background-color: #282828;
    color: #ff0000;
}

.page-header,
.page-content,
.page-footer {
    padding: 2rem;
}

.logo {
    display: inline-flex;
    align-items: flex-end;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
}

.logo__image {
    max-width: 20rem;
    margin-right: 1rem;
}

.navigation {
    margin-left: auto;
    padding-right: 1rem;
}

.menu {
    display: flex;
    list-style: none;
}

.menu__item {
    position: relative;
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: 0.1rem solid #f5f5f5;
}

.menu__item--selected a {
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid #ff0000;
}

.menu__item:last-child {
    border-right: none;
}

.stat-group {
    list-style: none;
    text-align: center;
}

.stat-group__item {
    display: inline-block;
}

.stat-group__item--selected button {
    background-color: #282828;
    color: white;
}

.hidden {
    display: none;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video {
    margin-bottom: 2rem;
    padding: 1rem;
    max-width: 30rem;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 1rem;
}

.video__title {
    padding: 1rem 2rem 3rem;
    font-weight: 500;
}

.video__stats {
    display: flex;
    flex-wrap: wrap;
}

.video__stats dl {
    margin: 0;
    width: 50%;
}

.video__stats dt {
    display: inline-block;
    font-weight: 500;
}

.video__stats dd {
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .page-header {
        display: block;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo__image {
        max-width: 15rem;
        margin-bottom: 2rem;
    }

    .stat-group__item {
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    .navigation {
        display: flex;
        justify-content: center;
    }
}
